h1 {
    margin: 0;
    text-align: center;
    letter-spacing: 1px;
    border: solid;
    padding: 2px;
    background: #fff;
    border-radius: 5px;
}

h1, h4 {
    text-align: center;
    letter-spacing: 1px;
    border: solid;
    padding: 2px;
    background: #fff;
    border-radius: 5px;
}

body {
    background: #00bfff;
    width: 100vh;
}

#hobby-btn {
    border: solid;
    background: #fff;
    padding: 7px;
    border-radius: 5px;
    transform: scale(1);
    transition: transform 250ms;
    cursor: pointer;
}

#hobby-btn:hover {
    transform: scale(1.1)
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 3em
}